* {
    margin: 0;
    padding: 0;
  }
  
  html {
    background: rgb(27, 27, 27);
    color: rgb(204, 197, 197);
    font-family: Menlo;
  }
  
  .controls {
    position: fixed;
    text-align: center;
    top: 2em;
    width: 100%;
  }
  
  .button {
    color: rgb(107, 106, 106);
    font-size: 3vw;
    margin: 0 0.5em;
    text-decoration: none;
  }
  
  .button:first-child {
      margin-left: 0;
  }
  
  .button:last-child {
      margin-right: 0;
  }
  
  .button:hover {
    color: rgb(253, 222, 222);
  }
  
  .stopwatch {
    font-size: 20vw;
    height: 100%;
    line-height: 100vh;
    text-align: center;
  }
  
